.button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: .75rem;
  background-color: var(--clr);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  font-size: 13px;
  padding: 6px;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #0a409f;
  border: 1px solid #cecece;
  transition: background-color .3s;
}
  
  .button__iconwrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .button:hover {
    background-color: #000;
    border: 1px solid #fff;
  }
  
  .button:hover .button__icon-wrapper {
    fill: #0e0e0e;
  }
  
  .button__iconsvgcopy {
    fill: #101010;
    position: absolute;
    transform: translate(-150%, 150%);
  }
  
  .button:hover .button__iconsvg:first-child {
    transition: transform .3s ease-in-out;
    transform: translate(150%, -150%);
  }
  
  .button:hover .button__iconsvgcopy {
    transition: transform .3s ease-in-out .1s;
    transform: translate(0);
  }